<h1 *ngIf="eventId.value == null" mat-dialog-title>Create Event</h1>
<h1 *ngIf="eventId.value !== null" mat-dialog-title>Edit Event</h1>

<form [formGroup]="eventForm" (ngSubmit)="submit()">
<div mat-dialog-content>
  <p>
      <mat-form-field style="display: flex;">
          <mat-label>Name</mat-label>
          <input type="text" matInput placeholder="Name" formControlName="name">
      </mat-form-field>
  </p>
  <p>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" matInput placeholder="Description" formControlName="description">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
        <mat-label>Location</mat-label>
        <input type="text" matInput placeholder="Description" formControlName="location">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" formControlName="startDate">
        <input matEndDate placeholder="End date" formControlName="endDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </p>  
  <p>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <input type="text" matInput placeholder="Type" formControlName="status">
    </mat-form-field>
  </p>
      
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button type="submit" mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
</form>