<mat-toolbar color="primary">

    <a routerLink=""
        class="text-nodecoration">
         <span>
            Event organizer
         </span>
    </a>

    <div class="right-nav-container">
        <button mat-raised-button color="primary" (click)="openCreateEventDialog('0ms', '0ms')">Create Event</button>
        <button mat-icon-button
                class="example-icon"
                [matMenuTriggerFor]="profileMenu"
                matTooltip="test@mail.com"
                >
            <mat-icon *ngIf="!this.currentUser.profilePicture">person</mat-icon>
            <img *ngIf="this.currentUser.profilePicture" style="border-radius: 100%;" [src]="'data:image/png;base64,' + this.currentUser.profilePicture">
        </button>
        <p>
            {{ this.currentUser.username }}
        </p>
    </div>

    <mat-menu #profileMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item
                routerLink="/profile">
            <mat-icon>info</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item routerLink="/adminpage">
            <mat-icon>view_list</mat-icon>
            <span>Admin panel</span>
        </button>
       <button mat-menu-item (click)="openMyCalendarDialog($event)">
           <mat-icon>calendar_today</mat-icon>
           <span>My Calendar</span>
       </button>
        <mat-form-field id="custom-datepicker" style="display: none;">
            <input matInput [matDatepicker]="dp3">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" touchUi #dp3 [disabled]="false"></mat-datepicker>
        </mat-form-field>  
        <button mat-menu-item routerLink="/organizer/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Organizer panel</span>
        </button>
        <button mat-menu-item routerLink="/profile/blocked-users">
            <mat-icon>not_interested</mat-icon>
            <span>Blocked users</span>
        </button>
        <button mat-menu-item
                (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

</mat-toolbar>
<div class="main">
    <router-outlet></router-outlet>
</div>