.search-bar {
    min-width: 350px;
    max-width: 500px;
    width: 100%;
    display: flex;
}

.search-bar-full {
    width: 100%;
}   

.search-bar-btn {
    margin-left: 3%;
    height: fit-content;
}

.search-bar-chip {
    margin-bottom: 1%;
}

.search-divider {
    margin-bottom: 3%;
}

.search-advanced-btn {
    margin-left: 3%;
}

