
<div class="container" style="width: 100%; margin-left: 5%;">
    
    <search-bar (searchInput)="onFilter($event)"></search-bar>

    <mat-card *ngFor="let event of eventPage?.content">
        <mat-card-header>
            <button [hidden]="!event.isCurrentUserInterested" (click)="userIsNotInterested(event.id)" color="warn" mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>
            <div>
                <button [hidden]="event.isCurrentUserInterested" (click)="userIsInterested(event.id)" color="warn" mat-icon-button>
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <button [hidden]="event.cantBeEdited" (click)="openEditEventDialog('0ms', '0ms', event)" class="grey-icon" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <mat-card-subtitle style="font-weight: 700;">{{event.startDate | date: 'MMM dd'}} - {{ event.endDate | date: 'MMM dd' }}</mat-card-subtitle>
            <mat-card-title [routerLink]="['/event-details', event.id]">
                <mat-icon class="grey-icon">event</mat-icon>
                <span>{{event.name}}</span>
            </mat-card-title>
            <!-- When both edit and favorite buttons are shown, this is displayed on 2 lines -->
            <mat-card-subtitle>{{event.location}}</mat-card-subtitle>
            <mat-card-subtitle>150 going . 40 interested</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="overflow: hidden;">
            <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                {{event.description}}
            </p>    
        </mat-card-content>
        <p></p>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
            <button mat-button (click)="userIsGoing(event.id)" style="font-weight: 500; font-size: large;">I'm going</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>        
    </mat-card>

    <mat-paginator 
        (page)="handlePageEvent($event)"
        [length]="eventPage?.totalElements"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page">
    </mat-paginator>
</div>