
<div class="container" style="width: 100%;">
    <mat-card *ngFor="let event of allEvents">
        <mat-card-header>
            <mat-card-subtitle style="font-weight: 700;">{{event.time | date: 'MMMM dd'}}</mat-card-subtitle>
            <mat-card-title>{{event.name}}</mat-card-title>
            <mat-card-subtitle>Cool Bar</mat-card-subtitle>
            <mat-card-subtitle>150 going . 40 interested</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </mat-card-content>
        <p></p>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
            <button mat-button style="font-weight: 500; font-size: large;">INTERESTED</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>        
    </mat-card>
</div>